/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Tapestry';
  src: url("../fonts/Tapestry-Regular.eot");
  src: url("../fonts/Tapestry-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Tapestry-Regular.woff2") format("woff2"), url("../fonts/Tapestry-Regular.woff") format("woff"), url("../fonts/Tapestry-Regular.svg#Tapestry-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Black.eot");
  src: url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.section1 .container {
  padding: 43px 55px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .section1 .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section1 .container .block1 {
  max-width: 372px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 1024px) {
  .section1 .container .block1 {
    max-width: 771px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section1 .container .block1 img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section1 .container .block1 h4 {
  font-family: 'Gotham';
  font-size: 11px;
  color: #33439B;
  margin-left: 37px;
  margin-top: 27px;
}

@media (max-width: 1024px) {
  .section1 .container .block1 h4 {
    margin-left: 0;
  }
}

.section1 .container .block1 h3 {
  font-family: 'Gotham';
  font-size: 28px;
  margin-left: 37px;
  margin-top: 11px;
}

@media (max-width: 1024px) {
  .section1 .container .block1 h3 {
    margin-left: 0;
  }
}

.section1 .container .block1 p {
  max-width: 291px;
  width: 100%;
  font-family: 'Gotham';
  font-size: 16px;
  color: #7B8591;
  margin-left: 37px;
  margin-top: 19px;
}

@media (max-width: 1024px) {
  .section1 .container .block1 p {
    margin-left: 0;
  }
}

.section1 .container .block2 {
  padding: 43px 55px;
  max-width: 771px;
  width: 100%;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .section1 .container .block2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-top: 10px;
  }
}

.section1 .container .block2 .image {
  max-width: 293px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section1 .container .block2 .image img {
  max-width: 293px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section1 .container .block2 .texts .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 700px) {
  .section1 .container .block2 .texts .button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section1 .container .block2 .texts .button button {
  max-width: 99px;
  width: 100%;
  height: 33px;
  font-family: 'Gotham';
  font-size: 11px;
  border: none;
  color: #FFFFFF;
  background-color: #005AEE;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .section1 .container .block2 .texts .button button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section1 .container .block2 .texts .text {
  margin-left: 37px;
}

@media (max-width: 700px) {
  .section1 .container .block2 .texts .text {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section1 .container .block2 .texts .text h2 {
  max-width: 229px;
  width: 100%;
  font-family: 'Gotham';
  font-size: 45px;
}

.section1 .container .block2 .texts .text p {
  max-width: 314px;
  width: 100%;
  font-family: 'Gotham';
  font-size: 16px;
  margin-top: 17px;
}

.section1 .container .block2 .images3 {
  margin-left: 37px;
  margin-top: 48px;
  display: block;
}

@media (max-width: 700px) {
  .section1 .container .block2 .images3 {
    margin: 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section1 .container .block2 .images3 img {
  max-width: 99px;
  width: 100%;
  margin-right: 13px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section1 .container .block2 .images3 img:last-child {
  margin-right: 0;
}

.section2 .fourBox {
  padding: 43px 55px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .fourBox .box {
  max-width: 270px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

.section2 .fourBox .box:first-child {
  background-color: #005AEE;
}

.section2 .fourBox .box:nth-child(2) {
  background-color: #FFA767;
}

.section2 .fourBox .box:nth-child(3) {
  background-color: #0AACDC;
}

.section2 .fourBox .box:last-child {
  background-color: #597AEF;
}

.section2 .fourBox .box .logo {
  width: 72.78px;
  margin-top: 28px;
  margin-right: 31.7px;
}

.section2 .fourBox .box .box_texts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  margin-left: 18px;
}

.section2 .fourBox .box .box_texts h3 {
  font-family: 'Gotham';
  font-size: 18px;
  color: white;
}

.section2 .fourBox .box .box_texts p {
  font-family: 'Gotham';
  color: white;
  font-size: 16px;
  margin-top: 21px;
  margin-bottom: 45px;
}

.section2 .threeBox {
  padding: 43px 55px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .threeBox .threeBox_box {
  max-width: 372px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section2 .threeBox .threeBox_box .threeBox_box_top {
  position: relative;
}

.section2 .threeBox .threeBox_box .threeBox_box_top h2 {
  position: absolute;
  top: 19px;
  left: 28px;
  font-family: 'Gotham';
  font-size: 18px;
  color: white;
}

.section2 .threeBox .threeBox_box .threeBox_box_top img:last-child {
  position: absolute;
  top: 212px;
  left: 28px;
}

.section2 .threeBox .threeBox_box_texts {
  margin-top: 48px;
}

.section2 .threeBox .threeBox_box_texts h3 {
  font-family: 'Gotham';
  font-size: 18px;
  text-align: center;
}

.section2 .threeBox .threeBox_box_texts p {
  margin-top: 3px;
  margin-bottom: 37px;
  font-family: 'Gotham';
  font-size: 14px;
  color: #7B8591;
  text-align: center;
}

.section3 .middleBlock {
  padding: 43px 55px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .middleBlock .leftBlock .leftBlock_main {
  max-width: 771px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.section3 .middleBlock .leftBlock .leftBlock_main img:first-child {
  max-width: 771px;
  width: 100%;
}

.section3 .middleBlock .leftBlock .leftBlock_main img:nth-child(2) {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 23px;
  height: 23px;
}

.section3 .middleBlock .leftBlock .leftBlock_main img:nth-child(3) {
  position: absolute;
  top: 36px;
  right: 36px;
}

.section3 .middleBlock .leftBlock .leftBlock_main h4 {
  position: absolute;
  top: 39px;
  left: 70px;
  font-family: 'Gotham';
  font-size: 11px;
  color: white;
  letter-spacing: 2px;
}

.section3 .middleBlock .leftBlock .leftBlock_main h2 {
  position: absolute;
  bottom: 129px;
  left: 31px;
  width: 385px;
  font-family: 'Gotham';
  font-size: 48px;
  color: white;
}

.section3 .middleBlock .leftBlock .leftBlock_main p {
  position: absolute;
  bottom: 61px;
  left: 36px;
  margin-top: 6px;
  width: 420px;
  font-family: 'Gotham';
  font-size: 16px;
  color: white;
}

.section3 .middleBlock .leftBlock .leftBlock_second {
  margin-top: 29px;
  padding: 19px 39px 19px 28px;
  max-width: 771px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second1 {
  max-width: 329px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second1 .leftBlock_second1_text {
  margin-left: 18px;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second1 .leftBlock_second1_text h5 {
  font-family: 'Gotham';
  font-size: 11px;
  margin-top: 23px;
  letter-spacing: 2px;
  color: #E44385;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second1 .leftBlock_second1_text p {
  width: 170px;
  font-family: 'Gotham';
  margin-top: 13px;
  font-size: 14px;
  color: #7B8591;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second2 {
  max-width: 329px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second2 .leftBlock_second2_text {
  margin-left: 18px;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second2 .leftBlock_second2_text h5 {
  font-family: 'Gotham';
  font-size: 11px;
  margin-top: 23px;
  letter-spacing: 2px;
  color: #0AACDC;
}

.section3 .middleBlock .leftBlock .leftBlock_second .leftBlock_second2 .leftBlock_second2_text p {
  width: 170px;
  font-family: 'Gotham';
  margin-top: 13px;
  font-size: 14px;
  color: #7B8591;
}

.section3 .middleBlock .leftBlock .leftBlock_third {
  max-width: 771px;
  width: 100%;
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .middleBlock .leftBlock .leftBlock_third .leftBlock_third1 {
  max-width: 372px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.section3 .middleBlock .leftBlock .leftBlock_third .leftBlock_third1 h5 {
  position: absolute;
  top: 25px;
  left: 28px;
  font-family: 'Gotham';
  font-size: 11px;
  color: #FFD430;
  letter-spacing: 2px;
}

.section3 .middleBlock .leftBlock .leftBlock_third .leftBlock_third1 p {
  width: 310px;
  position: absolute;
  bottom: 44px;
  left: 28px;
  font-family: 'Gotham';
  font-size: 16px;
  color: white;
}

.section3 .middleBlock .leftBlock .leftBlock_third .leftBlock_third2 {
  max-width: 372px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.section3 .middleBlock .leftBlock .leftBlock_third .leftBlock_third2 h5 {
  position: absolute;
  top: 25px;
  left: 28px;
  font-family: 'Gotham';
  font-size: 11px;
  color: #D0E2FF;
  letter-spacing: 2px;
}

.section3 .middleBlock .leftBlock .leftBlock_third .leftBlock_third2 p {
  width: 310px;
  position: absolute;
  bottom: 44px;
  left: 28px;
  font-family: 'Gotham';
  font-size: 16px;
  color: white;
}

.section3 .middleBlock .rightBlock {
  max-width: 372px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .middleBlock .rightBlock .rightBlock_box {
  max-width: 372px;
  width: 100%;
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .middleBlock .rightBlock .rightBlock_box:nth-child(3) .rightBlock_box_text:nth-child(2) h5 {
  color: #0072CA;
}

.section3 .middleBlock .rightBlock .rightBlock_box:nth-child(4) .rightBlock_box_text:nth-child(2) h5 {
  color: #D9A34A;
}

.section3 .middleBlock .rightBlock .rightBlock_box:nth-child(5) .rightBlock_box_text:nth-child(2) h5 {
  color: #FF4967;
}

.section3 .middleBlock .rightBlock .rightBlock_box:nth-child(6) .rightBlock_box_text:nth-child(2) h5 {
  color: #0072CA;
}

.section3 .middleBlock .rightBlock .rightBlock_box .rightBlock_box_text {
  margin-top: 20px;
  margin-left: 23px;
}

.section3 .middleBlock .rightBlock .rightBlock_box .rightBlock_box_text h5 {
  font-family: 'Gotham';
  font-size: 11px;
  color: #40BE65;
  letter-spacing: 2px;
}

.section3 .middleBlock .rightBlock .rightBlock_box .rightBlock_box_text p {
  margin-top: 13px;
  width: 170px;
  font-family: 'Gotham';
  font-size: 16px;
  color: #7B8591;
}

.section3 .middleBlock .rightBlock_more {
  margin-top: 28.5px;
  border-top: 1px solid;
  border-color: #95989A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 .middleBlock .rightBlock_more button {
  margin-top: 22px;
  border: none;
  font-family: 'Gotham';
  font-size: 14px;
  letter-spacing: 2px;
  color: #7B8591;
  background-color: white;
  cursor: pointer;
}
/*# sourceMappingURL=global.css.map */